// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css

@import "manza/custom_fixes";
@import "manza/custom_mixins";
@import "manza/custom_buttons";
@import "manza/custom_header";

// Minor Changes
.footer {
  min-height: auto;
}

.top-links {
  background-color: $sable;
}

.locale-form {
  .locale-switcher {
    background: #082b1e;
  }
}
